@model IEnumerable<Smits.Etg.FileRepositorySystem.Models.BusinessUnit>

<h2>Business Units</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "BusinessUnit")'">
        Create New
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
     
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
         
            <td>
                <a href="@Url.Action("Details", "BusinessUnit", new { id=item.Id})"><i class="glyphicon glyphicon-eye-open"></i></a>
                <a href="@Url.Action("Edit", "BusinessUnit", new { id=item.Id})"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="@Url.Action("Delete", "BusinessUnit", new { id=item.Id})"><i class="glyphicon glyphicon-trash"></i></a>

            </td>
        </tr>
    }

</table>

@if (ViewBag.Message != null)
{
    if (ViewBag.Message == 1)
    {
        ViewBag.Message = "Successfuly deleted.";
    }
    else
    {
        ViewBag.Message = "The Business Units you are trying to delete is currently used in Projects";
    }
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}